<meta charset="UTF-8" />
<div layout="row" class="md-block" layout-wrap>
   <st-input-string flex-gt-md="50"  label="Título do artigo" ng-model="$artigoDetalheCtrl.data.item.titulo" ></st-input-string>
   <st-input-string flex-gt-md="50"  label="Título do artigo" ng-model="$artigoDetalheCtrl.data.item.titulo" ></st-input-string>
   <st-input-string flex-gt-md="50"  label="URL" ng-model="$artigoDetalheCtrl.data.item.url" ></st-input-string>
   <st-input-string flex-gt-md="50" label="Keys" ng-model="$artigoDetalheCtrl.data.item.tags" ></st-input-string>
</div>
