
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s !important;
}

.animate-show.ng-hide {
  opacity: 0 !important;
}




.check-list-item{
	padding:5px;
}
.check-list-item:hover{
	
	 background-color: #e8e5e5;
}

.st-input {
    position: relative;
    margin: 30px 0;
    vertical-align: middle; 
}

.st-input label{
	
	font-size: 17px!important;
    padding-left: 0px;
    bottom: 100%;
    position: absolute;
	
}

.st-input input{
	
	    padding: 2px 2px 0px;
	    border-width: 0 0 1px;
	    box-shadow: none;
	    border-color: #908e8e;
	    border-radius: 0px;
	    height: 30px;
	    background: none;
}

.st-input input:focus{
	
	    border-width: 0 0 2px;
	    box-shadow: none;
	    border-color: var(--primary-color);
	    padding: 2px 2px 0px;
	    height: 30px;
	    background: none;
}



.st-input-no-focused label{
	
    -webkit-transform: translate3d(0,28px,0) scale(1);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    max-width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.st-input-focused label{
	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
    -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
}
   