<meta charset="UTF-8" />
<md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-raised md-primary md-icon-button" ng-click="$mdMenu.open()">
       <ng-md-icon icon="person"  ></ng-md-icon>
      </md-button>
      <md-menu-content width="4">
      	<md-menu-item>
          <md-button ng-click="ctrl.redial($event)">
            <ng-md-icon icon="logout"></ng-md-icon>
            Sair
          </md-button>
        </md-menu-item>
      </md-menu-content>
 </md-menu>


